.git
.github
.idea
.history
.pytest_cache
.venv312
**/__pycache__
**/.DS_Store
backend/.env
backend/.coverage
backend/.pytest_cache
backend/.pyinstaller_cache
backend/build
backend/dist
backend/data
backend/backend.log
frontend/node_modules
frontend/dist
docs/.~*
